title: Imaging Network Ontario
preposition: ''
description: >-
  Annual ImNO Symposium, March 2023 (London, Ontario)
baseurl: "/ImNO" # the subpath of your site, e.g. /blog
url: "https://charlesycx.github.io/ImNO/" # the base hostname & protocol for your site, e.g. https://example.com

# Build settings
markdown: kramdown
sass:
  style: compressed

# Additional exclude from processing
exclude:
  - .github/
  - README.md
  - LICENSE.md
  - REDISTRIBUTED.md
  - purgecss.config.js

# Collections and their defaults
collections:
  talks:
    output: true
    permalink: /:collection/:title/
  speakers:
    output: true
    permalink: /:collection/:title/
  rooms:
    output: true
    permalink: /:collection/:title/

defaults:
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
  - scope:
      path: ""
      type: speakers
    values:
      layout: speaker
  - scope:
      path: ""
      type: rooms
    values:
      layout: room


conference:

  # Language
  lang: en

  # Show theme errors:
  show_errors: False

  # Navigation bar
  navigation:
    logo:
      name: ImNO
      # img: ''
      url: 'https://imno.ca/2023-symposium'
    links:
      - name: Program
        relative_url: /program/
      #- name: Talks
        #relative_url: /talks/
      
      #- name: Speakers
        #relative_url: /speakers/
      #- name: Location
        #relative_url: /location/
      #- name: Previous Editions
        #menu:
          #- name: 2020 (current)
            #disabled: true
          #- name: 2019
            #relative_url: /2019/
          #- name: 2018
            #relative_url: /2018/

  # Link Preview for Sharing
  link_preview:
    # also adapt "preposition" property at top for more meaningful descriptions
    disable: false
    img:
      twitter: 'twitter_preview.png'      # inside /assets/images/
      open_graph: 'facebook_preview.png'  # inside /assets/images/

  # Main landing page
  main:
    logo:
      img: 'ImNO_banner.jpeg'
    links:
      - name: Program
        relative_url: /program/
      #- name: How to get there
        #relative_url: /location/
      #- name: Tickets
        #disabled: true
        #absolute_url: ''

  # Information boxes
  info_bars:
    - title: Welcome to the Imaging Network Ontario 2023 Symposium!
      color: primary
      main_only: true
      text: |
        Take a look at the Program for the [21st Annual ImNO Symposium](https://charlesycx.github.io/ImNO/program/), a yearly conference by [Imaging Network Ontario](https://www.imno.ca/).

        ---

        See the [Program](https://charlesycx.github.io/ImNO/program/) page for the conference information! (A PDF is also available for the [detailed schedules](https://www.imno.ca/sites/default/files/ImNO%202023%20Detailed%20Program%20-%202023.02.10.pdf))
    - text: ImNO Symposium 2023 (Thursday March 23 to Friday March 24)
      color: warning
      pages_only: true

  # Live indications
  live:
    date: 01.01.2020
    timezone: GMT+1
    stop:       240  # in minutes
    streaming:
      enable: true
      pause:     60  # in minutes
      prepend:    5  # in minutes
      extend:     5  # in minutes
    demo:
      enable: false
      duration: 300  # in seconds
      pause:     10  # in seconds
  
  location:
    # Disable links to locations
    hide: false
    # URL of location / room overview page
    url: '/location'
    # Main page title shown on location/room navigation bar
    navbar_title: 'Location'
    # Show map on location main page
    map: true
  
  map:
    # Initial map center point
    home_coord: 42.98451, -81.24311
    # Alternative map providers can be found on https://leaflet-extras.github.io/leaflet-providers/preview/
    # The following do match the Bootstrap design not too badly:
    #   - Hydda.Full
    #   - Thunderforest.Neighbourhood
    #   - Esri.WorldTopoMap
    map_provider: "CyclOSM"
    default_zoom: 7

  talks:
    # Talk categories
    main_categories:
      - name: Cat A
        color: info
      - name: Cat B
        color: success
      - name: Cat C
        color: warning
      - name: Cat D
        color: light
      - name: Cat E
        color: dark
      - name: Cat F
        color: primary
      - name: Cat G
        color: alert
        

    # Hide icons on talk overview page
    hide_icons: false

  speakers:
    # Show first and last name
    show_firstname: true


  program:
    # URL of program page
    url: '/program'

    # Time steps in program table
    time_steps: 15 # in minutes

    # Show intermediary time steps (next to full hours)
    show_alltimes: true

